<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SparkContext" connectionString="connection string=data source=&quot;spark-db.iil.intel.com,3187;initial catalog=Ecommerce;persist security info=True;user id=SPARK_ADMIN;password=SparkAdm1n;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.SqlClient" />

    <add name="DBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=spark-db.iil.intel.com,3187;Initial Catalog=Ecommerce;Integrated Security=False;User Id=SPARK_ADMIN;Password=SparkAdm1n;MultipleActiveResultSets=True" />

  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>